<app-grid>
    <app-grid-row>
        <app-grid-column [md]="3">
            <div class="nav-container">
                <nav>
                    <a href="/">Nav link 1</a>
                    <a class="sublink" href="/">Nav link 1.1</a>
                    <a class="sublink" href="/">Nav link 1.2</a>
                    <a href="/">Nav link 2</a>
                    <a class="sublink" href="/">Nav link 2.1</a>
                    <a class="sublink" href="/">Nav link 2.2</a>
                    <a class="sublink" href="/">Nav link 2.3</a>
                    <a href="/">Nav link 3</a>
                    <a href="/">Nav link 4</a>
                </nav>
            </div>
        </app-grid-column>
        <app-grid-column [md]="9">
            <router-outlet></router-outlet>
        </app-grid-column>
    </app-grid-row>
</app-grid>