@import 'style-tokens';

:host {
    max-width: calc(100vw - 50px);
    display: block;
    margin: 0 auto;
}

a,p {
    color: white;
}

.header {
    position: relative;
    background: $primary-color;

    &__logo {
        width: 80px;
        height: 80px;
    }


    nav {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            font-weight: 500;
            text-decoration: none;
            svg {
                fill: white;
            }
        }

        a:first-child {
            font-size: 32px;
            padding-right: 36px;
            svg {
                width: 64px;
                height: 64px;
                margin: 12px -12px;
            }
        }

        a:not(:first-child) {
            display: none;
        }

    }

    p {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
    }

}



@media (min-width: $breakpoint-md) {

    .header {
        nav {
            a:not(:first-child) {
                display: inline-block;
                margin-left: 32px;
                font-size: 24px;
            
                // For animated underline
                position: relative;
                height: fit-content;
            
                svg {
                    width: 52px;
                    height: 52px;
                    margin: -16px -10px;
                }
            }
            
            a:not(:first-child):after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
              
            a:not(:first-child):hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}

