<footer>
    <app-grid>
        <app-grid-row>
            <app-grid-column [md]="4">
                <p>
                    Boring legal stuff goes here....
                </p>
            </app-grid-column>
            <app-grid-column [md]="4">
                <p style="text-align: center;">
                    Whole bunch of links go here...
                </p>
                <div style="display: flex; justify-content: center;">
                    <a href="/">Link #1</a>&nbsp;&nbsp;
                    <a href="/">Link #2</a>&nbsp;&nbsp;
                    <a href="/">Link #3</a>
                </div>
            </app-grid-column>
            <app-grid-column [md]="4">
                <p style="text-align: end;">
                    Something something cookies....
                </p>
            </app-grid-column>
        </app-grid-row>
    </app-grid>
</footer>
