<footer>
    <app-grid>
        <app-grid-row>
            <app-grid-column [sm]="12" [md]="4">
                <p>
                    Boring legal stuff goes here....
                </p>
            </app-grid-column>
            <app-grid-column [sm]="12" [md]="4">
                <p>
                    Whole bunch of links go here...
                </p>
                <div>
                    <a href="/">Link #1</a>&nbsp;&nbsp;
                    <a href="/">Link #2</a>&nbsp;&nbsp;
                    <a href="/">Link #3</a>
                </div>
            </app-grid-column>
            <app-grid-column [sm]="12" [md]="4">
                <p>
                    Something something cookies....
                </p>
            </app-grid-column>
        </app-grid-row>
    </app-grid>
</footer>
