@import 'style-tokens';

*, *:before, *:after { box-sizing: border-box; }

body {
    margin: 0;
    background: $primary-color;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

main {
    background: white;
    min-height: 78vh;
    .grid {
        min-height: 78vh;
    }
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.ngx-charts text {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    fill: $primary-color !important;
}
