@import 'style-tokens';

*, *:before, *:after { box-sizing: border-box; }

body {
    margin: 0;
    background: $primary-color;
}

main {
    background: white;
    min-height: 78vh;
    .grid {
        min-height: 78vh;
    }
}


p, a, span {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}


